{% extends "base.html" %}

{% block title %}Classes{% endblock %}

{% block content %}



<body class="container_color">
    <div class="container">
        <h2>Add Food Entry</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control" required>

            

                <label for="measure">Measure:</label>
                <input type="text" id="measure" name="measure" class="form-control" required>


                <label for="grams">Grams:</label>
                <input type="number" id="grams" name="grams" class="form-control" required>

            

                <label for="calories">Calories:</label>
                <input type="number" id="calories" name="calories" class="form-control" required>

            
        
                <label for="protein">Protein (g):</label>
                <input type="number" id="protein" name="protein" class="form-control" required>
   
            

                <label for="fat">Fat (g):</label>
                <input type="number" id="fat" name="fat" class="form-control" required>


                <label for="saturated_fat">Saturated Fat (g):</label>
                <input type="number" id="saturated_fat" name="saturated_fat" class="form-control" required>


                <label for="fiber">Fiber (g):</label>
                <input type="number" id="fiber" name="fiber" class="form-control" required>

            

                <label for="carbohydrates">Carbohydrates (g):</label>
                <input type="number" id="carbohydrates" name="carbohydrates" class="form-control" required>

            

                <label for="category">Category:</label>
                <input type="text" id="category" name="category" class="form-control" required>
                
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <h1>{{ message }}</h1>

{% endblock %}