{% extends "base.html" %}

{% block title %}Classes{% endblock %}

{% block content %}



<body class="container_color">
    <div class="container">
        <h2>Add Food Entry</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control" required>         
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <h1>{{ message }}</h1>
</body>




{% endblock %}